.cards {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    justify-self: center;
    margin: 0 48px 92px 48px;   
}


@media screen and (max-width: 1200px) { 
    .cards {
        grid-template-columns: repeat(3, 1fr);
       
    }
            
    }
               
    @media screen and (max-width: 1000px) { 
        .cards {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 24px 88px 24px;
        
    }
            
    }

    @media screen and (max-width: 750px) {      
        .cards {
            grid-template-columns: repeat(1, 1fr);
           row-gap: 12px;
            margin: 0 16px 64px 16px;
    
    }
            
}