.places__paragraph {
    max-width: 484px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 auto 26px 0;
    justify-items: start;
   
    
    
  }

  @media screen and (max-width: 750px) { 
    .places__paragraph {
      max-width: 288px;
      margin: 0 auto 25px 16px;
      
      
    }
            
    }
                   