.header__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 320px) {
    .header__links {
        width: 62px;
        margin-top: 30px;
    }
}