.header__links {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    max-width: 77px;
   
    
}


@media screen and (max-width: 320px) { 
    .header__links  {
        font-size: 18px;
        line-height: 20px;
        width: 62px;
        
}
    
}
        


