.cards__item {
    width: calc(284/1280*100vw);
    height: calc(213/1280*100vw);
   
   
}

@media screen and (max-width: 1024px) { 
    .cards__item {
        width: calc(300/1024*100vw);
        height: calc(225/1024*100vw);
    }
            
    }
               
    @media screen and (max-width: 768px) { 
    .cards__item {
        width: calc(352/768*100vw);
        height: calc(264/768*100vw);
    }
            
    }

    @media screen and (max-width: 400px) {      
    .cards__item {
        width: calc(288/320*100vw);
        height: calc(216/320*100vw);
    }
            
}