.footer__links {
}


               
@media screen and (max-width: 740px) { 
    .footer__links  {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
    }
            
    }
                   