.place__links {
    align-self: end;
}

@media screen and (max-width: 750px) {
    .place__links {
        margin: 32px auto 32px auto;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .place__links {
        margin-left: 16px;
        text-align: left;
    }
}