.lead__image-caption {
    display:flex;
    flex-direction: column;
    margin: 0 auto 92px auto;
   
   
}

@media screen and (max-width: 768px) { 
    .lead__image-caption {
       margin-bottom: 88px;
        
}
    
}
@media screen and (max-width: 320px) { 
    .lead__image-caption {
        margin-bottom: 64px;
    }
            
    }
                   


