.lead__image-caption {
    display: flex;
    flex-direction: column;
    width: calc(984 / 1280 * 100%);
    margin: 0 auto 92px auto;
}

@media screen and (max-width: 1024px) {
    .lead__image-caption {
        width: calc(928 / 1024 * 100%);
    }
}

@media screen and (max-width: 768px) {
    .lead__image-caption {
        width: 100%;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image-caption {
        margin-bottom: 64px;
    }
}