.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 540px;
    margin-top: 0;
    margin-bottom: 32px;   
    
    
}


@media screen and (max-width: 550px) { 
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 18px;
        max-width: 230px;

      }
              
      }
     