.footer {
    width: 92.5%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 760px) {
    .footer {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}