.places__item {
    display: grid;
    grid-template-columns: repeat(2, 484px);
    column-gap: 16px;
    row-gap: 48px;
    width: 984px;
    justify-items: start;
    margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .places__item {
        grid-template-columns: repeat(2, 456px);
        width: 928px; 
    }
}
            
    
@media screen and (max-width: 1000px) {
    .places__item {
        grid-template-columns: repeat(2, 352px);
        margin-bottom: 50px;
        width: 720px; 
    }
            
    }
        
  
@media screen and (max-width: 750px) {
    .places__item {
        display: block;
        width: 100%;
        flex-direction: column;
        margin-bottom: 25px;

        
      
    }
            
    }
                   