.places__item {
    display: grid;
    grid-template-columns: repeat(2, 484px);
    column-gap: 16px;
    row-gap: 48px;
    margin: 0 148px 80px 148px; 
}

@media screen and (max-width: 1150px) {
    .places__item {
        grid-template-columns: repeat(2, 456px);
        margin: 0 48px 80px 48px;
              
    }
}
            
    
@media screen and (max-width: 1000px) {
    .places__item {
        grid-template-columns: repeat(2, 352px);
        margin: 0 24px 72px 24px;
    }
            
    }
               
@media screen and (max-width: 750px) {
    .places__item {
        display: block;
        width: 100vw;
        flex-direction: column;
        margin: 0 0 25px 0;
        
      
    }
            
    }
                   